.ui-room {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #eeeeee;
  width: 400px;
  height: 600px;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ui-room__title {
  font-size: 2rem;
  letter-spacing: 1px;
  margin-top: 10px;
}

.ui-room__input-name {
  font-size: 1rem;
  width: 250px;
  margin: 50px 0;
  padding: 3px 10px;
}

.ui-room__btnNewRoom {
  background-color: #e78ea9;
  color: white;
  padding: 5px 10px;
  border: none;
  transition: all 0.2s ease;
  margin-bottom: 10px;
}

.ui-room__btnNewRoom:hover {
  transform: scale(1.1);
}

.ui-room__form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  margin-top: 10px;
  height: 40px;
}

.ui-room__form__input {
  border-radius: 5px;
  padding: 0 10px;
  width: 65%;
  font-size: 1rem;
  height: 100%;
  border: none;
}

.ui-room__form__btn {
  width: 30%;
  height: 100%;
  background-color: #00dac3;
  border: none;
  color: white;
}

.ui-room {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #eeeeee;
  width: 400px;
  height: 600px;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ui-room__title {
  font-size: 2rem;
  letter-spacing: 1px;
  margin-top: 10px;
}

.ui-room__idRoom {
  margin-top: 30px;
  display: flex;
  align-items: center;
  width: 70%;
  /* border: 1px solid red; */
}

.ui-room__idRoom__btnBack {
  padding: 0.8rem;
  border-radius: 10px;
  background-color: #fd5d5d;
  border: none;
}

.ui-room__idRoom__id {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  padding: 0 10px;
  font-size: 1.5rem;
  font-weight: 400;
  border-radius: 10px;
  height: 100%;
  border: 1px solid #8d8daa;
}

.ui-room__idRoom__id span {
  font-weight: 700;
}

.ui-room__listPlayers {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  border: 1px solid #8d8daa;
  border-radius: 10px;
  padding: 10px 0;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.ui-room__listPlayers__player {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}

.ui-room__listPlayers__player__name {
  font-weight: 700;
  font-size: 1.1rem;
  margin-top: 5px;
}

.ui-room__listPlayers__player__name.waiting {
  color: rgb(134, 132, 132);
}

.ui-room__listPlayers__player__img.pokeball {
  max-width: 50%;
}

.ui-room__btn-start {
  margin-top: 20px;
  background-color: #85878a;
  color: white;
  padding: 0.7rem 2rem;
  border: none;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.ui-room__btn-start.hidden {
  display: none;
}

.ui-room__btn-start.active {
  background-color: #4b7be5;
}
